/*
	Written by Francois Blackburn August 2013.
*/

#svgload .edge.std path{
  stroke: black;
  stroke-width: 1px;
  opacity: 1;
}
#svgload .node.std ellipse{
  stroke: black;
  stroke-width: 1px;
}
#svgload .cluster polygon{
  stroke: black;
  stroke-width: 1px;
}


#svgload .edge.mouseover path{
  stroke: lime;
  stroke-width: 5px;
}
#svgload .node.mouseover ellipse{
  stroke: lime;
  stroke-width: 5px;
}
#svgload .cluster.mouseover polygon{
  stroke: lime;
  stroke-width: 5px;
}



#svgload .edge.searched path{
  stroke: red;
  stroke-width: 5px;
}
#svgload .node.searched ellipse{
  stroke: red;
  stroke-width: 5px;
}
#svgload .cluster.searched polygon{
  stroke: red;
  stroke-width: 5px;
}


#svgload .edge.routed path{
  stroke: blue;
  stroke-width: 5px;
}
#svgload .node.routed ellipse{
  stroke: blue;
  stroke-width: 10px;
}


/*#svgload .edge path{
  pointer-events: none;
}*/

/* Prevent bug with SVGPan */
#svgload text { 
  pointer-events: none; 
}
/*Disable underline*/
#svgload a:hover {
 text-decoration: none;
}

/*Remove white background*/
#svgload svg g polygon:nth-child(2){
  fill: none;
  stroke: none;
}

